 <form class="naslov">
 <h2 align="center"><b>Cijene polica</b></h2>
</form>

<table class="table table-hover" align="center" >

	<tr>
		<th>Trajanje osiguranja</th>
		<th>Auto osiguranje</th>
		<th> Zivotno osiguranje</th>
		<th> Imovinsko osiguranjee</th>
		<th> Putno osiguranje</th>
		<th> Transportno osiguranje</th>
		<th>Zdrastveno osiguranje</th>
	</tr>
	<tr>
		<td>12 mjeseci</td>
		<td>1200 kuna</td>
		<td>2400 kuna</td>
		<td>3600 kuna</td>
		<td>4800 kuna</td>
		<td>6000 kuna</td>
		<td>7200 kuna</td>
	</tr>
	<tr>
		<td>24 mjeseca</td>
		<td>2400 kuna</td>
		<td>4800 kuna</td>
		<td>7200 kuna</td>
		<td>9600 kuna</td>
		<td>12000 kuna</td>
		<td>14400 kuna</td>
	</tr>
	<tr>
		<td>36 mjeseci</td>
		<td>3600 kuna</td>
		<td>7200 kuna</td>
		<td>10800 kuna</td>
		<td>14400 kuna</td>		
		<td>18000 kuna</td>
		<td>21600 kuna</td>
	</tr>
		
</table>
<div class="row" align="center">
	<div class="col-sm-2"><b>Imovinsko osiguranje  </b></div>
  	<div class="col-sm-2"><b>Putno osiguranje      </b></div>
  	<div class="col-sm-2"><b>Auto osiguranje       </b></div>
  	<div class="col-sm-2"><b>Zivotno osiguranje    </b></div>
  	<div class="col-sm-2"><b>Zdravstveno osiguranje</b></div>
  	<div class="col-sm-2"><b>Transportno osiguranje</b></div>
  <div class="col-sm-2"><img src="css/img/osiguranje1.jpg"  width="200" height="150"> </div>
  <div class="col-sm-2"><img src="css/img/osiguranje2.jpg"  width="200" height="150"></div>
  <div class="col-sm-2"><img src="css/img/osiguranje3.jpg"  width="200" height="150"></div>
  <div class="col-sm-2"><img src="css/img/osiguranje4.jpg"  width="200" height="150"> </div>
  <div class="col-sm-2"><img src="css/img/osiguranje5.jpg"  width="200" height="150"></div>
  <div class="col-sm-2"><img src="css/img/osiguranje6.jpg"  width="200" height="150"></div>
</div>